section {
  width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
}

/* 
  시멘틱 요소: 요소의 배치를 의미있는 이름의 태그로 사용
  > 블록 레벨 요소 (수직배치)
*/
article {
  /* 
    부모의 너비 공간이 남을 경우 다음 요소가 배치
      , 요소가 가득 찰 경우 다음 줄로 이동
  */
  float: left;
  width: 350px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

p {
  line-height: 20px;
  font-size: 12px;
}
footer>p{
  clear: left;
  background-color: #222;
  color: white;
  text-align: center;
  height: 60px;
  line-height: 60px;
}