#container {
  width: 1000px;
  /* 
    box 모델: 속성값 2개인 경우 (상하 좌우)
    - 상하는 20px 여백
    - 좌우는 내용값을 제외한 나머지 부분을 좌우가 절반으로 나누어 가짐(auto)
  */
  margin: 20px auto;
  background-color: #ccc;
}

h1 {
  text-align: center;
}

.dog-list {
  list-style: none;
  padding: 0;
}

.dog-list li {
  /* 요소 정렬이 가로 배치 */
  float: left;
  padding: 0;
  margin: 10px;
  /* li가 가지는 크기외의 내용은 숨김 처리 */
  overflow: hidden;

  /* 
    li의 하위 요소인 .caption의 absolute 지정을 위함 
    
    cf) position: absolute는 position: relative 설정이 되어있는 
      상위 요소를 기준으로 배치
  */
  position: relative;
}

.dog-list img{
  width: 300px;
  height: 200px;
  margin: 0;
  padding: 0;

  z-index: 1;
}

/* 
  ? relative: 상대적
  ? absolute: 절대적
*/
.dog-list .caption {
  position: absolute;
  
  /* 
    ! z-index
    : 요소의 입체감을 표현하는 속성
    - 요소에 쌓임 순서를 결정

    >> 정수값을 사용하여 표현
    >> 해당 값에 따라 겹치는 순서가 결정
    : 요소가 겹치는 경우 다른 요소보다 상위 층에 위치하도록 지정
    >> 숫자가 클수록 z축 기준 위쪽 배치

    cf) position: static이 아닌 경우에만 사용가능
  */

  z-index: 2;

  top: 200px;
  width: 300px;
  height: 180px;
  padding-top: 20px;

  background-color: rgba(0, 0, 0, 0.5);

  opacity: 0;

  
  transition: all 0.6s ease-in-out;
}

.dog-list li:hover .caption {
  opacity: 1;

  /* 
    translateY(양수는 아래쪽, 음수는 위쪽)
  */
  transform: translateY(-200px);
}

.caption p, .caption h2 {
  color: #fff;
  text-align: center;
}
